{% extends "blog/base.html" %}
{% load static %}

{% block titulo %}Nosotros{% endblock titulo %}

{% block contenido %}
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-content">
                <h4>Nuestras Comidas</h4>
                <h2>Nosotros</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>  
    
    <!-- Banner Ends Here -->


    <section class="about-us">
      <div class="container">
      	
        <div class="row">
          <div class="col-lg-12">
            <img src="assets/images/about-us.jpg" alt="">
            <p>Somos un grupo de jóvenes estudiantes de programación web y como proyecto creamos este blog sobre comidas permitiendo al usuario conocer comidas típicas regionales y nacionales, como también comidas internacionales.
            También permitimos al usuario ser parte del blog comentando en las publicaciones y agregando publicaciones nuevas de comidas.
            El blog esta pensado para brindarle una experiencia sencilla y de fácil comprensión para usuarios de diferentes edades.
            Ante cualquier duda que tenga puede ponerse en contacto con nosotros en la sección Contacto.
            Cordiales saludos de parte del grupo.</p>
          </div>
        </div>
        
        <!--<div class="row">
          <div class="col-lg-6">
          <h4></p>Somos un grupo de jóvenes estudiantes de programación web y como proyecto creamos este blog sobre comidas permitiendo al usuario conocer comidas típicas regionales y nacionales como tambien internacionales.
          </div>
          <div class="col-lg-6">
          <h4></p>También permitimos al usuario ser parte del blog comentando en las publicaciones y agregando publicaciones nuevas de comidas.
          </div>
        </div>
        
        <div class="row">
          <div class="col-lg-4 col-md-6">
          <h4></p>Somos un grupo de jóvenes estudiantes de programación web y como proyecto creamos este blog sobre comidas permitiendo al usuario conocer comidas típicas regionales y nacionales como tambien internacionales.
          </div>
          <div class="col-lg-4 col-md-6">
          <h4></p>También permitimos al usuario ser parte del blog comentando en las publicaciones y agregando publicaciones nuevas de comidas.
          </div>
          <div class="col-lg-4">
          <h4></p>
          </div>
        </div>-->
        
        
        <!--<div class="row">
          <div class="col-lg-3 col-md-6">
          <h4></h4>
          	<p>Somos un grupo de jóvenes estudiantes de programación web y como proyecto creamos este blog sobre comidas permitiendo al usuario conocer comidas típicas regionales y nacionales como tambien internacionales.</p>
          </div>
          <div class="col-lg-3 col-md-6">
          <h4>02 Four Columns</h4>
          	<p>También permitimos al usuario ser parte del blog comentando en las publicaciones y agregando publicaciones nuevas de comidas.</p>
          </div>
          <div class="col-lg-3 col-md-6">
          <h4>03 Four Columns</h4>
          	<p>El blog esta pensado para brindarle una experiencia sencilla y de fácil comprensión para usuarios de diferentes edades..</p>
          </div>
          <div class="col-lg-3 col-md-6">
          <h4>04 Four Columns</h4>
          	<p>Ante cualquier duda que tenga puede ponerse en contacto con nosotros en la sección Contacto.
              Cordiales saludos de parte del grupo.</p>
          </div>
        </div>-->
        
        <!--<div class="row">
          <div class="col-lg-12">
            <ul class="social-icons">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>-->
        
        
      </div>
    </section>


{% endblock contenido %}